config I2C_BRIDGE_AUTH_ENABLE
	bool "Authentication timeout enabled"
	default y
	help
	  This options enables app layer authentication

config I2C_BRIDGE_AUTH_TIMEOUT
	int "Authentication timeout for BLE connection in seconds"
	default 10
	help
	  This option sets the timeout duration in seconds for the authentication
	  process when establishing a BLE connection. If the authentication is not
	  completed within this time frame, the connection attempt will be aborted.
	  Adjust this value based on your security requirements and expected
	  connection scenarios.

source "Kconfig.zephyr"
