&arduino_i2c {
	status = "okay";
	peripheral: peripheral@54 {
		status = "okay";
		compatible = "i2c-device";
		reg = <0x54>;
		label = "Peripheral";
	};
};

/ {
	data_ready: data_ready {
		compatible = "data-ready";
		gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>;
	};
};

